<div class="mn1 center">
	<% for (var i in theme.menu){ %>
		<form style="display: inline;" action="<%- url_for(theme.menu[i]) %>" method="GET">
      <button><a class="btn button-narrow"><%= i %></a></button>
    </form>
	<% } %>
</div>
