<div class="mn1 center">
	<% for (var i in theme.menu){ %>
	<form action="<%- url_for(theme.menu[i]) %>" method="GET">
      <button class="btn bg-blue-gradient"><%= i %></button>
    </form>
	<% } %>
</div>
